<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>RPSSL</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main container d-flex flex-column justify-content-center">
        <div class="container text-center d-flex justify-content-center">
            <h1 class="heading col-12 text-white py-1">Current Player: <%= name %></h1>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <h2 class="heading col-3 text-white py-1">Your score is <%= score %></h2>
        </div>
        <div class="row text-center d-flex justify-content-center">
            <p class="heading col-2 text-white py-1">Select your weapon!</p>
        </div>

        <form class="container" action="/turnP1" method="post">
            <input type="hidden" name="state" value="<%= state %>">
            <input type="hidden" name="move" id="move-input">

            <div class="weapons row d-flex justify-content-center">
                <input type="image" class="weapon col-2 mx-3" src="/images/rock.png" data-move="rock">
                <input type="image" class="weapon col-2 mx-3" src="/images/paper.png" data-move="paper">
                <input type="image" class="weapon col-2 mx-3" src="/images/scissors.png" data-move="scissors">
                <input type="image" class="weapon col-2 mx-3" src="/images/spock.png" data-move="spock">
                <input type="image" class="weapon col-2 mx-3" src="/images/lizard.png" data-move="lizard">
            </div>
        </form>
    </div>

    <footer class="container fixed-bottom text-center text-white pt-2">
        <p class="col-12">&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Max Blaschek. All Rights Reserved.</p>
    </footer>

    <script>
        const form = document.querySelector('form');
        const hiddenMove = document.getElementById('move-input');

        form.querySelectorAll('input[type="image"]').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // prevent default image input submission
                hiddenMove.value = this.dataset.move; // set hidden input to clicked weapon
                form.submit(); // submit form normally
            });
        });
    </script>
</body>

</html>
