<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RPSSL</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link href="/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="main">
      <h1 class="heading text-white">Current Player: <%= name %></h1>
      <h2 class="heading text-white">Your score is <%= score %></h2>
      <p class="heading text-white">Select your weapon!</p>

      <form action="/turnP2" method="post">
        <!-- /turnP2 for gameP2 -->
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="move" id="move-input" />

        <div class="d-flex flex-wrap justify-content-center">
          <input
            type="image"
            class="weapon"
            src="/images/rock.png"
            data-move="rock"
          />
          <input
            type="image"
            class="weapon"
            src="/images/paper.png"
            data-move="paper"
          />
          <input
            type="image"
            class="weapon"
            src="/images/scissors.png"
            data-move="scissors"
          />
          <input
            type="image"
            class="weapon"
            src="/images/spock.png"
            data-move="spock"
          />
          <input
            type="image"
            class="weapon"
            src="/images/lizard.png"
            data-move="lizard"
          />
        </div>
      </form>
    </div>

    <footer class="container fixed-bottom text-center text-white pt-2">
      <p>
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Max Blaschek. All Rights Reserved.
      </p>
    </footer>

    <script>
      const form = document.querySelector('form');
      const hiddenMove = document.getElementById('move-input');

      form.querySelectorAll('input[type="image"]').forEach((button) => {
        button.addEventListener('click', function (event) {
          event.preventDefault();
          hiddenMove.value = this.dataset.move;
          form.submit();
        });
      });
    </script>
  </body>
</html>
